langserve
fastapi
sse_starlette
uvicorn
pydantic
python-dotenv
langchain
langchain-google-genai                                                                                                                                       
google-generativeai
requests
pytest
pypdf
nest-asyncio
python-multipart